# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

auto-save-list/
elpa/
var/

# Emacs stuff
./
.python-environments
\#ido.last\#
ac-comphist.dat
eln-cache
emacs.d/customizations.el
git-command
ido.last
network-security.data
tramp
bookmarks
abbrevs.el
emacs.d/projects