# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

auto-save-list/
elpa/
var/

# Tramp history
tramp
ido.last
./
.python-environments
ac-comphist.dat
git-command
\#ido.last\#
network-security.data
emacs.d/customizations.el
